<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="doit.study.droid">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:name="doit.study.droid.GlobalData"
        android:allowBackup="true"
        android:icon="@drawable/hero"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--One Activity and many Fragments-->
        <!--Fix orientation, so don't care about rotation-->
        <activity
            android:name="doit.study.droid.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="doit.study.droid.QuestionsActivity"
            android:screenOrientation="portrait"
            />

    </application>

</manifest>
