<?xml version="1.0" encoding="utf-8"?>
<manifest package="doit.study.droid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".data.GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Fix orientation, so don't care about rotation -->
        <activity
            android:name=".TopicsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QuestionsActivity"
            android:label="Progress: 0%"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"/>

        <provider
            android:name=".data.QuizProvider"
            android:authorities="doit.study.droid"/>

        <activity android:name=".SplashActivity"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>